body {
    background: -webkit-linear-gradient(45deg, #986CE9, #FB6002, #FFB032, #25C2FF, #F72B83, #2ec4b6);;
}

#art {
    font-size: 180px;
    font-family: 'Carter One', cursive;
    background: -webkit-linear-gradient(45deg, #FB6002, #F72B83, #986CE9, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.carousel-caption {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h5 {
    font-family: 'Carter One', cursive;
}

a, h3, p, li {
    font-family: 'Acme', sans-serif;
}

#visual-art {
    border: 2px solid black;
    border-radius: 30px;
    padding: 13px;
    background-color: white;
    width: fit-content;
    margin-top: 50px;
    margin-bottom: 30px;
}

#overview {
    margin-top: 18px;
    margin-bottom: 10px;
    border-left: 8px solid white;
}

#last4 {
    margin-bottom: 3rem;
}

#commercial-art {
    border: 2px solid black;
    border-radius: 30px;
    padding: 13px;
    background-color: white;
    width: fit-content;
    margin-bottom: 20px;
}

#decorative-art {
    border: 2px solid black;
    border-radius: 30px;
    padding: 13px;
    background-color: white;
    width: fit-content;
    margin-bottom: 20px;
}

.card {
    border: solid 2px black;
}

.bi-palette {
    font-size: 20px;
    margin-right: 3px;
}

#past-innovations {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 13px;
    background-color: white;
}

#future-innovations {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 13px;
    background-color: white;
}

.col-lg-6, col-md-6 {
    margin-bottom: 20px;
}

.nav-link {
    font-size: 20px;
}

.bi-palette, .navbar-brand {
    font-size:25px;
}

.card-text {
    font-size: 18px;
}
.card-title {
        font-size: 25px;
}